<!DOCTYPE html>
<html>
	<head>
    <title>Post: <%= title %> by %= username %></title>
    <link rel='stylesheet' href="/stylesheets/style.css"/>
	</head>
	<body>
    <div id="titleHTML"><%- titleHTML %></div>
    <div id="bodyHTML"><%- bodyHTML %></div>
	</body>
</html>