<!DOCTYPE html>
<html>
  <head>
    <title><%= username %>'s Posts</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= username %>'s Posts</h1>
    <!-- <p>Welcome to <%= title %></p> -->
  </body>
</html>
