<div *ngIf="post">
  <form *ngIf="form" class="form" [formGroup]="form" #formDir="ngForm">
    <h2>Edit Post</h2>
    <div>
      <div>
        <h3 for="title">Title:</h3>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="post.title"
          formControlName="title"
          class="formbox"
        />
      </div>
      <div>
        <h3 for="body">Body:</h3>
        <textarea
          id="body"
          name="body"
          [rows]="10"
          [cols]="20"
          [(ngModel)]="post.body"
          formControlName="body"
          class="formbox"
        ></textarea>
      </div>
      <div>
        <span>Last Modified: {{ post.modified | date: "long" }}</span>
      </div>
      <button
        type="button"
        class="button"
        [disabled]="form.pristine"
        (click)="save()"
      >
        Save
      </button>
      <button type="button" class="button" (click)="preview()">Preview</button>
      <button type="button" class="button" (click)="delete()">Delete</button>
    </div>
  </form>
</div>
